.custom-popup .leaflet-popup-content-wrapper {

  border: 2px solid var(--popup-color);
  border-radius: 1rem;
  width: 250px;
}

.custom-popup .leaflet-popup-content {
  margin: 1rem;
}

.popup-photo {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  max-height: 150px;
}

.custom-popup .leaflet-popup-tip {
  background: white;
  border: 2px solid var(--popup-color);
}

.custom-popup .leaflet-popup-close-button {
  color: var(--popup-color) !important;
  border: 1px solid var(--popup-color) !important;
  border-radius: 100% !important;
  background: white !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-evenly !important;
  position: absolute !important;
  right: 7px !important;
  top: 7px !important;
  height: 18px !important;
  width: 18px !important;
  font-size: 0.6rem !important;
  z-index: 1;
}
