///* remove estilo default */
//.leaflet-control-zoom.leaflet-bar {
//  border: none;
//  box-shadow: none;
//  background: transparent;
//}
//
///* estilo tipo Bootstrap button */
//.leaflet-control-zoom a {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//
//  width: 36px;
//  height: 36px;
//
//  background-color: white;
//  border: 1px solid #dee2e6;
//  border-radius: 0.5rem;
//
//  color: #212529;
//  font-weight: 600;
//
//  transition: all 0.15s ease-in-out;
//}
//
///* hover */
//.leaflet-control-zoom a:hover {
//  background-color: #f8f9fa;
//}
//
///* spacing between + and - */
//.leaflet-control-zoom a + a {
//  margin-top: 6px;
//}

.leaflet-touch .leaflet-bar {
  border: 0px solid white !important;
  background: white;
  box-shadow: inset 0px 0px 0px 2px #085c9140 !important;
  padding: 2px !important;
  border-radius: 10px;
}

.leaflet-control-zoom-in{
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  //background-color: #00000090 !important;
}

.leaflet-control-zoom-out{
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  //background-color: #00000090 !important;
}

.leaflet-control-zoom a {
  color: #085c91 !important;
  font-size: 1.5rem !important;
}