.leaflet-touch .leaflet-bar {
  border: 0px solid white !important;
  background: white;
  box-shadow: inset 0px 0px 0px 2px #085c9140 !important;
  padding: 2px !important;
  border-radius: 10px;
}

.leaflet-control-zoom-in{
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  //background-color: #00000090 !important;
}

.leaflet-control-zoom-out{
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  //background-color: #00000090 !important;
}

.leaflet-control-zoom a {
  color: #085c91 !important;
  font-size: 1.5rem !important;
}