// Entry point for your Sass build
@import "bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
//@import "leafleft";


.side-panel {
  @extend .rounded-4;
  @extend .mt-4;
  @extend .me-4;
  background: #ffffff;
  box-shadow: 2px 2px 7px 2px #00000035;
  border: 3px solid #00000010;

}


.map-dot{
  width:16px;
  height:16px;
  border-radius:50%;
  border:2px solid white;
  margin-right: 16px;
  box-shadow:0 0 4px rgba(0,0,0,0.3);

}

.map-dot-cluster {
  @extend .map-dot;
  background: #4CAF50;
  border-radius: 50%;
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-weight: 600;
  font-size: 14px;
}

.search-container {
  max-width: 50%;
  height: fit-content;
}

@media (min-width: 768px) {
  .search-container {
    max-width: 50%;
  }
}


.map-overlay {
  pointer-events: none;
}

.map-overlay > * {
  pointer-events: auto;
}


/// BOOTSTRAP OVERRIDES
.collapse {
  --bs-collapse-transition: height .1s ease;
}

.collapse {
  transition: none !important;
}

.collapsing {
  transition: none !important;
  height: auto !important;
}

.btn, .card {
  border: 3px solid #00000010 !important;
}

.input-group-text.common-border {
  border: 3px solid #00000010 ;
  border-right: none;
}

input[type="search"].form-control {
  border: 3px solid #00000010;
  border-left: none;
}

.btn-mute {
  border: none !important;
}

.btn-link:hover {
  background: #00000007;
  box-shadow: inset 0px 0px 0px 3px #085c9130;
}

.input-group-text {
  border-right: none !important;
}

.form-control:focus {
  box-shadow: none;
}

.divider{
  @extend .my-4;
  background: #00000010;
  width: 100%;
  height: 1px;
}