//
// Start Variables
//
@import "common_variables";

$primary: #d5810e;
$dark: #292929;
$secondary: #590606;
$success: #d36546;
$info: #cfc2a1;
$warning: #d3804c;
$danger: #9A0539FF;
$light: #dac3a8;

//
// End Variables
//

@import "global";