//
// Start Variables
//
@import "common_variables";

$primary: #b80606;
$dark: #0d3903;
$secondary: #d3d3d3;
$success: #5da104;
$info: #87b6b6;
$warning: #dd4b2a;
$danger: #700909;
$light: #ffffbe;

//
// End Variables
//

@import "global";